---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LatestVideos from '../components/LatestVideos.astro';
import About from '../components/About.astro';
import RequestForm from '../components/RequestForm.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import VideoModal from '../components/VideoModal.astro';
---

<Layout title="BuildAtScale - Learning in Public">
  <Header />
  <main>
    <Hero />
    <LatestVideos />
    <About />
    <RequestForm />
    <Newsletter />
  </main>
  <Footer />
  <VideoModal />
</Layout>
